<section class={{classChatsNav}}>
    <div class={{profile.className}}>
        <div class={{profile.classAvaCont}}>
            {{{avaLink}}}
        </div>
        <div class={{profile.classSearchCont}}>
            <label for={{profile.classSearchCont}}></label>
            {{{searchInput}}}
        </div>
    </div>
    {{{chatsList}}}
</section>
<section class={{classChatsCont}}>
    <div class={{stub.className}}>
        <h1>{{stub.message1}}</h1>
        <br/>
        <h4>{{stub.message2}}</h4>
    </div>
    {{{writeMessageCont}}}
    </div>
</section>
